code/__pycache__
data/davis.zip
data/pretrained-feature.zip
data/dta-origin-dataset
data/pretrained-feature
data/pretrain-feature.zip
测试说明.docx
data/egfr_esm_pretrain.pkl
data/egfr_mol_pretrain.pkl
data/simple-case_esm_pretrain.pkl
data/simple-case_mol_pretrain.pkl
data/dta-5fold-dataset/davis
data/davis
data/kiba
data/metz
archive
# savemodel
data/model_300dim.pkl
data/protVec_100d_3grams.csv
*log/
*wandb/
*savemodel/
data/pretrain-feature
data/pretrain-feature.zip