code/__pycache__
data/davis.zip
data/pretrained-feature.zip
data/dta-origin-dataset
data/pretrained-feature
data/pretrain-feature.zip
测试说明.docx
data/egfr_esm_pretrain.pkl
data/egfr_mol_pretrain.pkl
data/simple-case_esm_pretrain.pkl
data/simple-case_mol_pretrain.pkl
data/dta-5fold-dataset/davis
data/davis
data/kiba
data/metz
archive
# savemodel
data/protVec_100d_3grams.csv
*log/
*wandb/
Temp/savemodel/All-davis-Jan25_08-59-40.pth
Temp/savemodel/All-kiba-Jan25_09-05-47.pth
Temp/savemodel/All-metz-Jan25_09-05-01.pth
data/pretrain-feature
data/pretrain-feature.zip